.container
  display: block

.item
  height: 30px
  line-height: 30px
  display: block
  border-bottom: 1px solid #ddd
  padding: 0 15px
  position: relative
  overflow: hidden
  cursor: pointer
  white-space: nowrap
  text-decoration: none
  text-overflow: ellipsis
  font-weight: bold
  font-size: 13px
  color #000
  &:hover
    background-color: #F0F3F7
    text-decoration: none

.name
  display: block

.gamesPlayed
  min-width: 20px
  height: 18px
  line-height: 18px
  padding 0 2px
  background-color: $color_blue
  margin auto 0
  absolute top 0 right 8px bottom 0
  text-align: center
  font-weight: 500
  font-size: 11px
  color #fff
  border-radius 2px
