:global(.react-datepicker__input-container)
  input
    width: 100%
    height: 30px
    padding 5px 8px 3px
    border 0
    font-family: PTSans-Regular
    text-align: inherit
    font-size: 13px
    border-radius 2px
    // TODO placeholder doesn't change. Check on Messages page in New Message textarea
    +input-placeholder()
      font-family: PTSans-Regular
      font-size: 16px
      color: #80838C
