$game-table-border-color    = #c2cad2
$game-td-border-color       = #dce3ea


.title
  margin-bottom: 20px
  font-size: 26px
  color #bddcfd

.tableContainer
  overflow: hidden
  border-radius 3px
  box-shadow rgba(13, 44, 74, 0.25) 0 0 0 1px, rgba(13, 44, 74, 0.14) 0 1px 0 1px

.table
  width: 100%
  background-color: #fff
  border-spacing 0
  cursor: default
  font-size: 13px
  text-align: left
  no-select()
  tbody
    tr
      &:nth-child(even)
        background-color: #F7F9FA
      &:hover
        background-color: #fff9de
        td
          border-color #e6dfbc
  td, th
    border-left 1px solid $game-td-border-color
    padding 10px
    vertical-align middle
    text-align: center
    &:first-child
      border-left: 0
    &:nth-child(2)
      text-align: left
  th
    border-bottom: 1px solid $game-td-border-color
    font-weight: 600
  td
    line-height: 15px

.showMore
  display: block
  line-height: 40px
  background-color: #e2e8ef
  border-top: 1px solid #c2ccd8
  cursor: pointer
  font-size: 16px
  font-weight: 600
  text-align: center
  color #a1acb9
  text-transform: uppercase
  text-decoration: none !important
  border-radius bottom 3px
  &:hover
    background-color: darken(#e2e8ef, 3%)
    color darken(#a1acb9, 10%)
