.root
  position: relative
  background-color: #fff
  border 1px solid #DCDFE6
  &.errored
    border-color $color_red

.input
  width: 100%
  background none
  border 0
  font-family: PTSans-Regular
  border-radius 2px
  // TODO placeholder doesn't change. Check on Messages page in New Message textarea
  +input-placeholder()
    font-family: PTSans-Regular
    font-size: 16px
    color: #80838C
  .h30 &
    height: 30px
    line-height: 22px
    padding 4px 8px
    font-size: 13px
  .h40 &
    height: 40px
    line-height: 24px
    padding 8px 12px
    font-size: 14px
  .h50 &
    height: 50px
    line-height: 18px
    padding 22px 17px 10px
    font-size: 17px
  &:focus
    border-color #6F8BC2
  &.disabled,
  &[disabled]
    background-color #ddd
    border-color #ccc
  &:focus,
  &.filled
    & ~ .label
      color: #4064C7
      .h30 &
        margin-top: 0
        font-size: 9px
      .h40 &
        margin-top: 0
        font-size: 9px
      .h50 &
        margin-top: -22px
        font-size: 10px

textarea.input
  line-height: 18px
  padding 8px 12px
  font-size: 14px

.label
  height: 20px
  line-height: 20px
  margin-top: -10px
  absolute top 50%
  color #80838C
  pointer-events: none
  transition all 0.13s linear
  .h30 &
    left 10px
    font-size: 12px
  .h40 &
    left 10px
    font-size: 14px
  .h50 &
    left 17px
    font-family: PTSans-Regular
    font-size: 14px
