$game-table-border-color    = #c2cad2
$game-td-border-color       = #dce3ea


.title
  margin-bottom: 12px
  font-size: 22px
  color #bddcfd

.tableContainer
  background-color: #fff
  border-radius top 3px
  box-shadow rgba(13, 44, 74, 0.25) 0 0 0 1px, rgba(13, 44, 74, 0.14) 0 1px 0 1px

.table
  width: 100%
  border-spacing 0
  cursor: default
  font-size: 13px
  text-align: left
  no-select()
  tbody
    tr
      &:nth-child(even)
        background-color: #F7F9FA
      &:last-child
      	td
          &:first-child
          	border-radius 0 0 0 3px
          &:last-child
            border-radius 0 0 3px 0
  td, th
    border-left 1px solid $game-td-border-color
    vertical-align middle
    text-align: center
    &:first-child
      text-align: left
      border-left: 0
  th
    border-bottom: 1px solid $game-td-border-color
    padding 10px
    font-weight: 600
    white-space: nowrap
  td
    line-height: 15px
  :global(.Select-control)
    background: none !important
    border 0 !important
    box-shadow none !important
    & input
      line-height: 16px
    & :global(.fa)
      display: none !important

.input
  background: none !important
  border 0 !important
  text-align: center !important


.addTeamIcon
  size 16px
  line-height: 18px
  background-color: $color_green
  margin-right: 6px
  text-align: center
  font-size: 11px
  color #fff
  display-inline-block()

.removeRowIcon
  margin 0 10px
  cursor: pointer
  font-size: 17px
  color $color_red

.footer
  display: block
  background-color: #e2e8ef
  border-top: 1px solid #c2ccd8
  padding 5px
  border-radius bottom 3px
